target /
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.calasspath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
rebel.xml

### JRebel ###
rebel.xml

### MAC ###
.DS_Store

### other ###
logs/
temp/
target
